body {
    background: none !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    font-size: 20px;
    padding: 25px;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(44, 44, 44, 0.76);
    height: 300px;
    width: 350px;
    border: 2px solid aliceblue;
    border-radius: 20px;
    text-align: center;
}

.menu-box {
    background-color: rgba(126, 208, 255, 0.76);
    margin-top: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.menu-box:hover {
    background-color: rgba(34, 173, 253, 0.76);
}